page-login {
    .headings{
      text-align: center;
      color: #595959;
    }
    .buttonclick{
        width: 250px;
        height:50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        background-color: #B20000;
        margin-top: 20px;
        color: white;
        border-radius: 12px;
        // box-shadow: 0px 2px 5px #888888;
        }
        .inputType{
          border: 1px solid #595959;
          border-radius: 12px;
          width: 270px;
          margin-left: 30px;
        }
        .labels{
          margin-left: 30px;
          color: #595959;
        }
       .images{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
       }
      
}
