<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <img src="./assets/imgs/titays2.png" height="300" class="images">
      <h4 class="headings">Log In</h4>
      <ion-label class="labels">Email</ion-label>
      <ion-input type="text" [(ngModel)]="userData.email" class="inputType"></ion-input>

  
      <ion-label class="labels">Password</ion-label>
      <ion-input type="password" [(ngModel)]="userData.password" class="inputType"></ion-input>
  
    <button class="buttonclick" (click)="login()">Login</button>
    
  
  <button class="buttonclick" (click)="register()">Register</button>

</ion-content>
