<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>first Name</ion-label>
      <ion-input type="text" [(ngModel)]="userData.firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>middle Name</ion-label>
      <ion-input type="text" [(ngModel)]="userData.middlename"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>last Name</ion-label>
      <ion-input type="text" [(ngModel)]="userData.lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>birthday</ion-label>
      <ion-input type="date" data-date-format="YYYY MMMM DD" [(ngModel)]="userData.birthday"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" [(ngModel)]="userData.email"></ion-input>
    </ion-item>
  <div>
    <ion-item>
      <ion-label>Role</ion-label>
      <ion-select placeholder="Select role" [(ngModel)]="userData.user_type">
      <ion-option value="1">Driver</ion-option>
      <ion-option value="2">Conductor</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <div  *ngIf="userData.user_type == '2'">
    <ion-item>
      <ion-label>conductor Experience</ion-label>
      <ion-input type="text" [(ngModel)]="userData.cond_experience" placeholder=" ex. 11 months"></ion-input>
    </ion-item>      
    <ion-item>
        <ion-label>Driver Id</ion-label>
        <ion-input type="text" [(ngModel)]="userData.driver_id" placeholder="ask your driver"></ion-input>
      </ion-item>      
  </div>
  <div *ngIf="userData.user_type == '1'">
    <ion-item>
      <ion-label>License number</ion-label>
      <ion-input type="text" [(ngModel)]="userData.license"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label>Vehicle Type</ion-label>
      <ion-select placeholder="Vehicle type" [(ngModel)]="userData.vehicle_type">
      <ion-option value="Bus">Bus</ion-option>
      <ion-option value="Van">Van</ion-option>
      <ion-option value="Jeepney">Jeepney</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <ion-item>
    <ion-label>Plate number</ion-label>
    <ion-input type="text" [(ngModel)]="userData.plate_number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Vehicle Owner's name</ion-label>
    <ion-input type="text" [(ngModel)]="userData.owner_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Date applied on vehicle</ion-label>
    <ion-input type="date" data-date-format="YYYY MMMM DD" [(ngModel)]="userData.date_assigned"></ion-input>
  </ion-item>
    <ion-item>
      <ion-label>Phone number</ion-label>
      <ion-input type="text" [(ngModel)]="userData.phone_number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="userData.password"></ion-input>
    </ion-item>
    <button class="buttonclick" (click)="signup()">Sign Up</button>
  </ion-list>
</ion-content>
