<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title>order</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div>
      <ion-item>
        <ion-label>Select Redeem</ion-label>
        <ion-select placeholder="Select Redeem" [(ngModel)]="meal_type">
        <ion-option value="1">Meal</ion-option>
        <ion-option value="2">Snack</ion-option>
        </ion-select>
      </ion-item>
    </div>
  </ion-list>
  <ion-list radio-group [(ngModel)]="userOrder.food">
      <div  *ngIf="meal_type == '1'">
          <ion-label>Select a Meal</ion-label>
          <div *ngFor="let F of foods">
              <ion-item>
                  <ion-label>{{F}}</ion-label>
                  <ion-radio slot="start" value="{{F}}" ngDefaultControl></ion-radio>
              </ion-item>  
            </div>
      </div>
  </ion-list>
  <ion-list radio-group [(ngModel)]="userOrder.food">
    <div  *ngIf="meal_type == '2'">
      <ion-label>Select a Snack</ion-label>
      <div *ngFor="let S of snacks">
          <ion-item>
              <ion-label>{{S}}</ion-label>
              <ion-radio slot="start" value="{{S}}" ngDefaultControl></ion-radio>
          </ion-item>  
        </div>
  </div>
  </ion-list>

  <div *ngIf="meal_type != null">

  <ion-list>
    <ion-item>
      <ion-label>Drinks</ion-label>
      <ion-select placeholder="drinks" [(ngModel)]="drinks">
      <ion-option value="0">none</ion-option>
      <ion-option value="1">coffee</ion-option>
      <ion-option value="2">Soda Drink</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list radio-group [(ngModel)]="userOrder.drink">
      <div  *ngIf="drinks == '1'">
      <ion-label>Select a Drink</ion-label>
      <div *ngFor="let C of coffees">
          <ion-item>
              <ion-label>{{C}}</ion-label>
              <ion-radio slot="start" value="{{C}}" ngDefaultControl></ion-radio>
          </ion-item>  
      </div>
      </div>

  </ion-list>

  <ion-list radio-group [(ngModel)]="userOrder.drink">
      <div  *ngIf="drinks == '2'">
      <ion-label>Select a Drink</ion-label>
      <div *ngFor="let D of drunks">
          <ion-item>
              <ion-label>{{D}}</ion-label>
              <ion-radio slot="start" value="{{D}}" ngDefaultControl></ion-radio>
          </ion-item>  
      </div>
      </div>
  </ion-list>
  </div>

    <button class="buttonclick" (click)="order()">order</button>
  
</ion-content>
