page-order {
    .buttonclick{
        width: 250px;
        height:50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        background-color: #B20000;
        margin-top: 20px;
        color: white;
        // box-shadow: 0px 2px 5px #888888;
        }
}
