<!--
  Generated template for the PointsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title>points</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<div class="div-header">
  <h2 class="PointHead">{{value}} Points</h2>
</div>
<div class="message">
  <p>Points can be earn by bring a passenger in the store.</p>
</div>
</ion-content>
