page-points {
    .div-header{
        background-color: #f53d3d;
        height: 140px;
        position: relative;
        top: 10px;
        border-radius: 5px;
    }
    .PointHead{
        color: #f4f4f4;
        position: absolute;
        left: 35%;
        top: 40px;
    }
    .message{
        position: relative;
        top: 60px;
    }
}
