<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title>profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<div color="light" class="hd-profile-head">
<h3>Personal Information</h3>
</div>
<div color="light" class="hd-profile">
  <div class="infos">
      <p>Name: {{user_info.firstname}} {{user_info.middlename}} {{user_info.lastname}} </p>
  </div>
  <div class="infos">
      <p>Birthday: {{user_info.birthday}}</p>    
  </div>
  <div class="infos">
      <p>Email: {{user_info.email}}</p>
  </div>
</div>

<div color="light" class="hd-profile-head">
  <h3>Other Information</h3>
</div>

<div color="light" class="hd-profile">
  <div class="infos">
      <p>Vehicle type: {{vehicle_info.vehicle_Type}}</p>
  </div>
  <div class="infos">
      <p>Owner's Name: {{vehicle_info.owner_name}}</p>    
  </div>
  <div class="infos">
      <p>Plate number: {{vehicle_info.plate_number}}</p>
  </div>
</div>
</ion-content>
