page-profile {
    .hd-profile{
        // box-shadow: 0px 0.5px 6px #888888;
        
        padding: 15px;
        margin: 0px;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        box-shadow: 1px 2px #D9D9D9;
    }
    .hd-profile-head{
        border-bottom:0px;
        padding: 15px;
    }
}
