<!--
  Generated template for the MealPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title>meal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="dates == 'undefined'">
      <img src="./assets/imgs/bread2.png" height="300" class="images">
      <h3 style="text-align: center;">No Meal history yet</h3>
  </div>
  <div padding>
    
      <h3>History</h3> 
      <hr> 
      <div *ngFor="let h of history_data">
          <ion-card>
            <ion-card-content>
              {{h}}
            </ion-card-content>
          </ion-card>
      </div>
  </div>

</ion-content>
