<ion-header >
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="food != null">
    <div padding>

      <h1 style="text-align: center; margin-top: 30px;">Pending Order</h1>
      <ion-item color="secondary" style="margin-top: 30px; margin-bottom: 30px;">
        <ion-label>{{food}}</ion-label>
        <ion-label>{{time}}</ion-label>
      </ion-item>

      <p>Your request has been sent. Please go to the store and claim your order, thank you.</p>
    </div>
  </div>
  <div *ngIf="food == null">
    <img src="./assets/imgs/bread2.png" height="300" class="images">
    <h3 style="text-align: center;">No Order yet</h3>
  </div>
</ion-content>
